.fa-table-col-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
  cursor: pointer;
  z-index: 1001;
}

.fa-table-col-item:hover {
  background-color: #e6f7ff;
}

.fa-table-col-thead-item {
  padding: 0 8px;
}
