.fa-scene-item {
  display: flex;
  padding: 4px 8px;
  //border-bottom: 1px solid #ccc;
  cursor: pointer;
  z-index: 1001;
  width: 100%;
}

.fa-scene-item:hover {
  background-color: #e6f7ff;
}

.fa-cond-group-show {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-cond-group-show .ant-tag {
  margin-right: 0 !important;
}